<ng-template [ngIf]="issue && form">
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="form-floating mb-3">
      <input
        id="update-issue-form-uid"
        type="text"
        class="form-control"
        formControlName="title"
        placeholder=""
      />
      <label for="update-issue-form-uid">Title</label>
    </div>

    <div class="mb-3">
      <label class="form-label">Assignee</label>
      <div class="input-group">
        <input
          id="update-issue-form-assignee"
          type="text"
          class="form-control"
          readonly
          disabled
          [value]="assigneeAsString()"
        />
        <button type="button" class="btn btn-outline-primary" (click)="selectAssignee()">
          Edit
        </button>
      </div>
    </div>

    <div class="form-floating mb-3">
      <select
        id="update-issue-form-status"
        class="form-select"
        formControlName="status"
        placeholder=""
      >
        <option value="to_do">To Do</option>
        <option value="in_progress">In Progress</option>
        <option value="done">Done</option>
      </select>
      <label for="update-issue-form-status">Status</label>
    </div>

    <div class="form-floating mb-3">
      <textarea
        id="update-issue-form-description"
        class="form-control"
        formControlName="description"
        placeholder=""
        style="height: 100px"
      ></textarea>
      <label for="update-issue-form-description">Description</label>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </form>

  <hr />

  <app-comment-section
    #commentSection
    [comments]="comments"
    (save)="onNewComment($event)"
    (pageChange)="onPageChange($event)"
  ></app-comment-section>
</ng-template>
