<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="form-floating mb-3">
    <input
      id="update-board-form-uid"
      type="text"
      class="form-control"
      formControlName="uid"
      readonly
      placeholder=""
    />
    <label for="update-board-form-uid">UID</label>
  </div>
  <div class="form-floating mb-3">
    <input
      id="update-board-form-name"
      type="text"
      class="form-control"
      formControlName="name"
      placeholder=""
    />
    <label for="update-board-form-name">Name</label>
  </div>
  <div class="form-floating mb-3">
    <textarea
      id="update-board-form-description"
      class="form-control"
      formControlName="description"
      placeholder=""
      style="height: 100px"
    ></textarea>
    <label for="update-board-form-description">Description</label>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </div>
</form>
