<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="form-floating mb-3">
    <input
      id="create-issue-form-uid"
      type="text"
      class="form-control"
      formControlName="title"
      placeholder=""
    />
    <label for="create-issue-form-uid">Title</label>
  </div>
  <div class="form-floating mb-3">
    <textarea
      id="create-issue-form-description"
      class="form-control"
      formControlName="description"
      placeholder=""
      style="height: 100px"
    ></textarea>
    <label for="create-issue-form-description">Description</label>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </div>
</form>
