services:

  mariadb:
    image: mariadb:12.2.2
    environment:
      MYSQL_USER: taskbook
      MYSQL_PASSWORD: taskbook
      MYSQL_DATABASE: taskbook
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: [ "CMD", "mariadb", "-u", "taskbook", "-ptaskbook", "-e", "SHOW DATABASES;" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - ./database.schema.sql:/docker-entrypoint-initdb.d/database.schema.sql:ro
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_bin
      - --max-allowed-packet=67108864

  taskbook-backend:
    image: malczuuu/taskbook-backend:latest
    healthcheck:
      test: [ "CMD", "wget", "--spider", "--quiet", "http://localhost:80/actuator/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/taskbook
      SPRING_DATASOURCE_USERNAME: taskbook
      SPRING_DATASOURCE_PASSWORD: taskbook
      TASKBOOK_JWT_SECRET: qwertyuiopasdfghjklzxcvbnm
      TASKBOOK_JWT_LIFETIME: 864000
    depends_on:
      mariadb:
        condition: service_healthy

  taskbook-frontend:
    image: malczuuu/taskbook-frontend:latest
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      taskbook-backend:
        condition: service_started

  gateway:
    image: nginx:1.29.4-alpine
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "127.0.0.1:26162:80"
    depends_on:
      taskbook-backend:
        condition: service_started
      taskbook-frontend:
        condition: service_started
