<div *ngIf="user">
  <h3>{{ userAsString() }}</h3>
  <hr />

  <div class="form-floating mb-3">
    <input
      id="account-form-uid"
      type="text"
      class="form-control"
      [value]="user.uid"
      readonly
      placeholder=""
    />
    <label for="account-form-uid">UID</label>
  </div>

  <div class="form-floating mb-3">
    <input
      id="account-form-email"
      type="text"
      class="form-control"
      [value]="user.email"
      readonly
      placeholder=""
    />
    <label for="account-form-email">E-mail address</label>
  </div>

  <div class="form-floating mb-3">
    <input
      id="account-form-role"
      type="text"
      class="form-control"
      [value]="user.role"
      readonly
      placeholder=""
    />
    <label for="account-form-role">Role</label>
  </div>

  <div class="form-floating mb-3">
    <input
      id="account-form-first-name"
      type="text"
      class="form-control"
      [value]="user.first_name"
      readonly
      placeholder=""
    />
    <label for="account-form-first-name">First name</label>
  </div>

  <div class="form-floating mb-3">
    <input
      id="account-form-last-name"
      type="text"
      class="form-control"
      [value]="user.last_name"
      readonly
      placeholder=""
    />
    <label for="account-form-last-name">Last name</label>
  </div>
</div>
