<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-3">
    <input
      id="account-form-email"
      type="text"
      class="form-control"
      formControlName="email"
      autocomplete="new-email"
      placeholder=""
    />
    <label for="account-form-email">
      E-mail address
      <span class="text-danger">*</span>
    </label>
  </div>
  <div class="form-floating mb-3">
    <select id="account-form-role" class="form-select" formControlName="role" placeholder="">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
    <label for="account-form-role">
      Role
      <span class="text-danger">*</span>
    </label>
  </div>
  <div class="form-floating mb-3">
    <input
      id="account-form-password"
      type="password"
      class="form-control"
      formControlName="password"
      autocomplete="new-password"
      placeholder=""
    />
    <label for="account-form-password">
      Password
      <span class="text-danger">*</span>
    </label>
  </div>
  <div class="form-floating mb-3">
    <input
      id="account-form-confirm-password"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder=""
    />
    <label for="account-form-confirm-password">
      Confirm password
      <span class="text-danger">*</span>
    </label>
  </div>
  <div class="form-floating mb-3">
    <input
      id="account-form-first-name"
      type="text"
      class="form-control"
      formControlName="firstName"
      placeholder=""
    />
    <label for="account-form-first-name">First name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      id="account-form-last-name"
      type="text"
      class="form-control"
      formControlName="lastName"
      placeholder=""
    />
    <label for="account-form-last-name">Last name</label>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-primary" [disabled]="!isValid()">
      Create user
    </button>
  </div>
</form>
