<form [formGroup]="form" class="form-signin" (ngSubmit)="onLogin()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div class="form-floating mb-3">
    <input
      type="email"
      id="security-login-email-input"
      class="form-control"
      formControlName="email"
      placeholder=""
      required
      autofocus
    />
    <label for="security-login-email-input">Email address</label>
  </div>

  <div class="form-floating mb-3">
    <input
      type="password"
      id="security-login-password-input"
      class="form-control"
      formControlName="password"
      placeholder=""
      required
    />
    <label for="security-login-password-input">Password</label>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-lg btn-outline-primary" type="submit">Sign in</button>
  </div>
</form>
