<ng-template [ngIf]="accountForm">
  <form [formGroup]="accountForm" (ngSubmit)="onAccountSave()">
    <h3>Account Settings</h3>

    <hr />

    <div class="form-floating mb-3">
      <input
        id="account-form-uid"
        type="text"
        class="form-control"
        formControlName="uid"
        readonly
        placeholder=""
      />
      <label for="account-form-uid">UID</label>
    </div>
    <div class="form-floating mb-3">
      <input
        id="account-form-email"
        type="text"
        class="form-control"
        formControlName="email"
        placeholder=""
      />
      <label for="account-form-email">E-mail address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        id="account-form-role"
        type="text"
        class="form-control"
        formControlName="role"
        readonly
        placeholder=""
      />
      <label for="account-form-role">Role</label>
    </div>
    <div class="form-floating mb-3">
      <input
        id="account-form-first-name"
        type="text"
        class="form-control"
        formControlName="firstName"
        placeholder=""
      />
      <label for="account-form-first-name">First name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        id="account-form-last-name"
        type="text"
        class="form-control"
        formControlName="lastName"
        placeholder=""
      />
      <label for="account-form-last-name">Last name</label>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-outline-primary">Update settings</button>
    </div>
  </form>

  <hr />

  <button
    *ngIf="!changePasswordVisible"
    type="button"
    class="btn btn-outline-primary"
    (click)="changePasswordVisible = true"
  >
    Change password
  </button>

  <form [formGroup]="passwordForm" *ngIf="changePasswordVisible" (ngSubmit)="onPasswordSave()">
    <h3>Change password</h3>
    <div class="form-floating mb-3">
      <input
        id="account-form-old-password"
        type="password"
        class="form-control"
        formControlName="oldPassword"
        placeholder=""
      />
      <label for="account-form-old-password">Old password</label>
    </div>
    <div class="form-floating mb-3">
      <input
        id="account-form-new-password"
        type="password"
        class="form-control"
        formControlName="newPassword"
        placeholder=""
      />
      <label for="account-form-new-password">New password</label>
    </div>
    <div class="form-floating mb-3">
      <input
        id="account-form-new-password-confirm"
        type="password"
        class="form-control"
        formControlName="confirmNewPassword"
        placeholder=""
      />
      <label for="account-form-new-password-confirm">Confirm new password</label>
    </div>
    <div class="d-grid gap-2">
      <div class="btn-group" role="group" aria-label="Change Password Buttons">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="changePasswordVisible = false"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!passwordSubmitValid()">
          Change password
        </button>
      </div>
    </div>
  </form>
</ng-template>
