name: Build Taskbook Frontend

on:
  push:
    branches: [ "main" ]
    paths:
      - "taskbook-frontend/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "taskbook-frontend/**"

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: taskbook-frontend

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "taskbook-frontend/package-lock.json"

      - name: Install Dependencies
        run: npm ci

      - name: Check Prettier Formatting
        run: npm run prettier -- --check

      - name: Build Project
        run: npm run build --if-present
